[submodule "Pantheon"]
	path = Pantheon
	url = https://github.com/dscolnic/Pantheon.git
[submodule "SNANA_StarterKit"]
	path = SNANA_StarterKit
	url = https://github.com/COALA-Lab/SNANA_StarterKit.git
